@{
    ViewBag.Title = "About";
}

<div class="page-banner overlay-dark bg-image" style="background-image: url(/Content/assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Về chúng tôi</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Về chúng tôi</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-secondary text-white">
                        <span class="mai-chatbubbles-outline"></span>
                    </div>
                    <p><span>Trò chuyện</span> với bác sĩ</p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-primary text-white">
                        <span class="mai-shield-checkmark"></span>
                    </div>
                    <p><span>Một sự bảo vệ sức khỏe</span></p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-accent text-white">
                        <span class="mai-basket"></span>
                    </div>
                    <p><span>Một hiệu thuốc sức khỏe</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Chào mừng đến với trung tâm sức khỏe của bạn</h1>
                <div class="text-lg">
                    <p>Phòng khám nhi ABC quy tụ đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng được đào tạo bài bản đến chuyên sâu tại Việt nam và nhiều nước có nên y học phát triển như Mỹ, Anh, Pháp... Luôn lấy người bệnh là trung tâm, ABC cam kết mang lại dịch vụ chăm sóc sức khỏe toàn diện và chất lượng cao cho khách hàng.</p>
                    <p>Sở hữu không gian khám chữa bệnh văn minh, sang trọng, hiện đại, ABC chú trọng đầu tư đồng bộ hệ thống trang thiết bị hiện đại hàng đầu thế giới, hỗ trợ hiệu quả cho việc chẩn đoán và điều trị.</p>
                </div>
            </div>
            <div class="col-lg-10 mt-5">
                <h1 class="text-center mb-5 wow fadeInUp">Đội ngũ bác sĩ</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="/Content/assets/img/doctors/doctor_1.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dr. Stein Albert</p>
                                <span class="text-sm text-grey">Tim mạch</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="/Content/assets/img/doctors/doctor_2.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dr. Alexa Melvin</p>
                                <span class="text-sm text-grey">Nha khoa</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="/Content/assets/img/doctors/doctor_3.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                                <span class="text-sm text-grey">Sức khỏe tổng quát</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>