@{
    ViewBag.Title = "Home Page";
}

<div class="page-hero bg-image overlay-dark" style="background-image: url(/Content/assets/img/bg_image_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn">
            <span class="subhead">Hãy để cuộc sống của bạn hạnh phúc hơn</span>
            <h1 class="display-4">Lối sống lành mạnh</h1>
            <a href="#" class="btn btn-primary">Hãy tham khảo ý kiến</a>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Trò chuyện</span> với bác sĩ</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Một sự bảo vệ sức khỏe</span></p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Một hiệu thuốc sức khỏe</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>Chào mừng đến với trung tâm sức khỏe <br> của bạn</h1>
                    <p class="text-grey mb-4">Phòng khám nhi ABC quy tụ đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng được đào tạo bài bản đến chuyên sâu tại Việt nam và nhiều nước có nên y học phát triển như Mỹ, Anh, Pháp... Luôn lấy người bệnh là trung tâm, ABC cam kết mang lại dịch vụ chăm sóc sức khỏe toàn diện và chất lượng cao cho khách hàng.</p>
                    <a href="about.html" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="~/Content/assets/img/bg-doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .bg-light -->
</div> <!-- .bg-light -->

<div class="page-section">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp">Đội ngũ bác sĩ</h1>

        <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="~/Content/assets/img/doctors/doctor_1.jpg" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Stein Albert</p>
                        <span class="text-sm text-grey">Tim mạch</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="~/Content/assets/img/doctors/doctor_2.jpg" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Alexa Melvin</p>
                        <span class="text-sm text-grey">Nha khoa</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="~/Content/assets/img/doctors/doctor_3.jpg" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm text-grey">Sức khỏe tổng quát</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="~/Content/assets/img/doctors/doctor_3.jpg" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm text-grey">Sức khỏe tổng quát</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="~/Content/assets/img/doctors/doctor_3.jpg" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm text-grey">Sức khỏe tổng quát</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section bg-light">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Tin tức mới nhất</h1>
        <div class="row mt-5">
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a href="#">Covid19</a>
                        </div>
                        <a href="blog-details.html" class="post-thumb">
                            <img src="~/Content/assets/img/blog/blog_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Danh sách các quốc gia không có trường hợp Coronavirus</a></h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="~/Content/assets/img/person/person_1.jpg" alt="">
                                </div>
                                <span>Roger Adams</span>
                            </div>
                            <span class="mai-time"></span> 1 tuần trước
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a href="#">Covid19</a>
                        </div>
                        <a href="blog-details.html" class="post-thumb">
                            <img src="~/Content/assets/img/blog/blog_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Phòng hồi sức: Tin tức vượt qua đại dịch</a></h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="~/Content/assets/img/person/person_1.jpg" alt="">
                                </div>
                                <span>Roger Adams</span>
                            </div>
                            <span class="mai-time"></span> 4 tuần trước
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a href="#">Covid19</a>
                        </div>
                        <a href="blog-details.html" class="post-thumb">
                            <img src="~/Content/assets/img/blog/blog_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Tác động của việc ăn quá nhiều đường là gì?</a></h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="~/Content/assets/img/person/person_2.jpg" alt="">
                                </div>
                                <span>Diego Simmons</span>
                            </div>
                            <span class="mai-time"></span> 2 tháng trước
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center mt-4 wow zoomIn">
                <a href="blog.html" class="btn btn-primary">Đọc thêm</a>
            </div>

        </div>
    </div>
</div> <!-- .page-section -->

<div id="appointment" class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Đặt lịch hẹn khám</h1>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "main-form" }))
        {
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 fadeInLeft">
                    <label>Họ tên bệnh nhi</label>
                    <input type="text" name="ten" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight">
                    <label>Chi nhánh đăng ký hẹn khám</label>
                    <select name="cn" id="chiNhanh" class="custom-select">
                        @foreach (var item in ViewBag.ListChiNhanh)
                        {
                            <option value="@item.MaChiNhanh">@item.DiaChi</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInLeft" data-wow-delay="300ms">
                    <label>Ngày sinh</label>
                    <input type="date" name="ns" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight">
                    <label>Bác sĩ hẹn khám</label>
                    <select name="bs" id="bacSi" class="custom-select">
                        <option value="">-- Chọn bác sĩ --</option>
                        @foreach (var item in ViewBag.ListBacSi)
                        {
                            <option value="@item.MaBS">@item.HoTen</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInLeft" data-wow-delay="300ms">
                    <label>Số điện thoại thân nhân</label>
                    <input type="text" name="sdt" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight" data-wow-delay="300ms">
                    <label>Thời gian hẹn</label>
                    <input type="datetime-local" name="tgHen" class="form-control" required="required">
                </div>
                <div class="col-12 fadeInUp" data-wow-delay="300ms">
                    <label>Lời nhắn</label>
                    <textarea name="message" id="message" class="form-control" rows="3" placeholder="Lời nhắn đến phòng khám.." style="max-width: inherit;"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Gửi yêu cầu</button>
        }
    </div>
</div> <!-- .page-section -->

@section scripts{
    <script>
        $(document).on('change', '#chiNhanh', function () {
            var cn = $(this).val();
            console.log(cn);
            
            $("#bacSi").load("/Home/LoadBacSi",
                { "cn": cn }, function (data) {

                });

        });
    </script>
}
