
@{
    ViewBag.Title = "Notification";
    Layout = "~/Areas/LeTan/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div style="width: fit-content; margin-left: 50%; transform: translateX(-50%); text-align: center;">
            <img src="~/Content/assets/img/gif.gif" style="width: 200px;" />
            <h2 class="text-center alert alert-danger">Thông tin bệnh nhi này chưa có trong hệ thống!</h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" id="Submit" name="Submit" class="btn btn-block btn-success btn-lg">
                            <i class="fas fa-plus"></i>
                            Thêm mới thông tin bệnh nhi
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="reset" class="btn btn-block btn-info btn-lg">
                            <i class="fas fa-search"></i>
                            Đến trang danh sách bệnh nhi
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


