@model List<PhongKhamNhi.Models.Entities.DichVuKham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ThuNgan/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách dịch vụ khám</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <a href="~/ThuNgan/DichVu/Create" class="create-new">
                        <i class="fas fa-plus"></i>
                        Thêm mới
                    </a>
                </div>

            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        Tên dịch vụ
                    </th>
                    <th class="text-center">
                        Ảnh đại diện
                    </th>
                    <th class="text-center">
                        Đơn giá
                    </th>
                    <th class="text-center">
                        <i class="fas fa-cogs"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDV)
                        </td>
                        <td class="text-center">
                            <img src="/Content/assets/img/blog/@item.Anh" style="width: 80px;" />
                        </td>
                        <td class="text-right">
                            @item.DonGia.ToString("N0")
                        </td>
                        <td class="text-center">
                            <a href="~/Home/ServiceDetail/@item.MaDV" target="_blank" title="Chi tiết">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="~/ThuNgan/DichVu/Edit/@item.MaDV" title="Sửa">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                            </a>
                            <a href="~/ThuNgan/DichVu/Delete/@item.MaDV" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                <i class="fas fa-trash-alt" style="color:red;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>